 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
    .navbar-light .navbar-toggler {
        color: #ffffff;
        border: 1px solid #72006a ;
        border-radius: 5px ;
        -webkit-border-radius: 5px ;
        -moz-border-radius: 5px ;
        -ms-border-radius: 5px ;
        -o-border-radius: 5px ;
}
#about .about-content {
    width: 100%;
    background: var(--cl2);
    clip-path: polygon(0px 8%, 100% 21px, 361% 105%, -23px 102%);
    -webkit-box-shadow: 5px 14px 6px 3px rgb(31, 31, 31);
    -moz-box-shadow: 5px 14px 6px 3px rgba(58, 0, 144, 1);
    box-shadow: 5px 14px 6px 3px rgb(0, 0, 0);
    border: 1px solid var(--cl2);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 0px;
    margin-top: 0;
}

#games .games-item{
    margin: 20px;
}

#price .price-plan{
    margin: 60px;
}

#price .price-plan{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#payment-method .payment-system {
    margin: 15px 42px;
}
footer .important-links{
    margin: 0;
}
footer .security-info{
    margin: 0;
}
 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .navbar-light .navbar-toggler {
        color: #ffffff;
        border: 1px solid #72006a ;
        border-radius: 5px ;
        -webkit-border-radius: 5px ;
        -moz-border-radius: 5px ;
        -ms-border-radius: 5px ;
        -o-border-radius: 5px ;
}
#about .about-content {
    width: 100%;
    background: var(--cl2);
    clip-path: polygon(0px 8%, 100% 21px, 361% 105%, -23px 102%);
    -webkit-box-shadow: 5px 14px 6px 3px rgb(31, 31, 31);
    -moz-box-shadow: 5px 14px 6px 3px rgba(58, 0, 144, 1);
    box-shadow: 5px 14px 6px 3px rgb(0, 0, 0);
    border: 1px solid var(--cl2);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 0px;
    margin-top: 0;
}

#games .games-item{
    margin: 20px;
}

#price .price-plan{
    margin: 60px;
}

#price .price-plan{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#payment-method .payment-system {
    margin: 15px 42px;
}
footer .important-links{
    margin: 0;
}
footer .security-info{
    margin: 0;
}

footer .security-info ul li {
    padding-right: 30px;
}

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .navbar-light .navbar-toggler {
        color: #ffffff;
        border: 1px solid #72006a ;
        border-radius: 5px ;
        -webkit-border-radius: 5px ;
        -moz-border-radius: 5px ;
        -ms-border-radius: 5px ;
        -o-border-radius: 5px ;
}
#about .about-content {
    width: 100%;
    background: var(--cl2);
    clip-path: polygon(0px 8%, 100% 21px, 361% 105%, -23px 102%);
    -webkit-box-shadow: 5px 14px 6px 3px rgb(31, 31, 31);
    -moz-box-shadow: 5px 14px 6px 3px rgba(58, 0, 144, 1);
    box-shadow: 5px 14px 6px 3px rgb(0, 0, 0);
    border: 1px solid var(--cl2);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 0px;
    margin-top: 0;
}

#games .games-item{
    margin: 20px;
}

#price .price-plan{
    margin: 60px;
}

#price .price-plan{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#payment-method .payment-system {
    margin: 15px 42px;
}
footer .important-links{
    margin: 0;
}
footer .security-info{
    margin: 0;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .navbar .navbar-nav .nav-item .nav-link {
        font-family: var(--pf);
        color: #944bff;
        font-size: 20px;
        font-weight: 400;
        line-height: 50px;
        padding: 0px 8px;
 }

 #payment-method .payment-system {
    margin-left: 45px;
}
footer .about-jackpot ul li a i {
    padding: 15px 17px;
}
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }